
{{> modal}}
{{!-- end modal --}}

<div class="rooms">
    
    <div class="rooms-content">
        <div class="rooms-content-left">
            <h1>Rooms</h1>
            
        </div>
        <div class="rooms-content-right">
            <a href="/room/add" class=" btn modal-trigger">+</a>
        </div>
    </div>
    <div class="rooms-list">
        
        <table class="responsive-table highlight">

            <thead>
                <tr>
                    <th>Room number</th>
                    <th>Photos</th>
                    <th>Room description</th>
                    <th>Rent</th>
                    <th>Total guests</th>
                    <th>Availability</th>
                    <th>Booked by</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {{#each data}}
                <tr>
                    <td>{{roomNumber}}</td>
                    <td>
                        {{#each img}}
                            <img src={{this}} alt="image" />
                        {{/each}}
                    </td>
                    <td>{{description}}</td>
                    <td>{{rent}}</td>
                    <td>{{guest}}</td>
                    <td>{{avalaible}}</td>
                    <td>{{booked}}</td>
                    <td class="action">
                        
                            <a href="/room/edit/{{_id}}"><span 
                                class="edit material-icons"
                                
                                >
                            edit
                            </span></a>
                        
                        
                            <a href="/room/delete/{{_id}}"><span 
                                class="delete material-icons"
                            >delete
                            </span></a>
                        
                        
                        
                    </td>
                </tr>
                {{/each}}
            </tbody>

      </table>
    </div>

</div>