<h1>Client User</h1>
{{test}}
 <table class="responsive-table highlight">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
              
          </tr>
        </thead>

        <tbody>
            
                {{#each data}}
            <tr>
                <td>{{_id}}</td>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td>{{phoneNumber}}</td>
            </tr>
                {{/each}}
            
        </tbody>
      </table>